bronze/openflow/HOL_2025.json
{"flowContents":{"identifier":"34b4cacd-815f-366d-bc14-663fff0b1388","instanceIdentifier":"1908018e-0197-1000-9683-96cdc19cadaf","name":"HOL","comments":"","position":{"x":800.0,"y":384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d873a994-fcc8-3a01-b858-8bb30332e713","instanceIdentifier":"192c9d40-0197-1000-6607-15c760fa6f8f","name":"WRITE MOVEMENTS_RAW_001","comments":"","position":{"x":-1824.0,"y":-248.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2025.5.22.22"},"properties":{"Account":"SFSEHOL-SUMMIT25_HOL_DE_DHFEJL","User":"OPEN_FLOW_WRITER","Table":"MOVEMENTS_RAW_0001","Concurrency Group":null,"Max Batch Size":"10000","Schema":"BRONZE","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"0e816b9e-49d7-3799-a854-befa05d2d018","Iceberg Enabled":"true","Snowpipe Channel Index":null,"Private Key Service":"8ca86f4b-cb83-3089-8ce2-22bdba9fb96d","Connection Strategy":"STANDARD","Role":"HOL_USER_999_FULL_ROLE","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"KEY_PAIR","Delivery Guarantee":"At least once","Record Offset Record Path":null,"Database":"HOL_USER_999_DB"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"196441c9-0197-1000-fad7-bc931acd642b","instanceIdentifier":"f36c3aad-941f-364b-f1b6-cd58f2212bfe","name":"WRITE MOVEMENTS_RAW_003","comments":"","position":{"x":-704.0,"y":-264.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2025.5.22.22"},"properties":{"Account":"SFSEHOL-SUMMIT25_HOL_DE_DHFEJL","User":"OPEN_FLOW_WRITER","Table":"MOVEMENTS_RAW_0003","Concurrency Group":null,"Max Batch Size":"10000","Schema":"BRONZE","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"0e816b9e-49d7-3799-a854-befa05d2d018","Iceberg Enabled":"true","Snowpipe Channel Index":null,"Private Key Service":"8ca86f4b-cb83-3089-8ce2-22bdba9fb96d","Connection Strategy":"STANDARD","Role":"HOL_USER_999_FULL_ROLE","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"KEY_PAIR","Delivery Guarantee":"At least once","Record Offset Record Path":null,"Database":"HOL_USER_999_DB"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"1963e5cc-0197-1000-4564-4d9f5ac1df1c","instanceIdentifier":"7939b56b-3197-3179-ecdd-d3067d9681dd","name":"WRITE MOVEMENTS_RAW_002","comments":"","position":{"x":-1296.0,"y":-264.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2025.5.22.22"},"properties":{"Account":"SFSEHOL-SUMMIT25_HOL_DE_DHFEJL","User":"OPEN_FLOW_WRITER","Table":"MOVEMENTS_RAW_0002","Concurrency Group":null,"Max Batch Size":"10000","Schema":"BRONZE","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"0e816b9e-49d7-3799-a854-befa05d2d018","Iceberg Enabled":"true","Snowpipe Channel Index":null,"Private Key Service":"8ca86f4b-cb83-3089-8ce2-22bdba9fb96d","Connection Strategy":"STANDARD","Role":"HOL_USER_999_FULL_ROLE","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}","Client Lag":"1 sec","Authentication Strategy":"KEY_PAIR","Delivery Guarantee":"At least once","Record Offset Record Path":null,"Database":"HOL_USER_999_DB"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"f53df7f0-9b09-3eee-9649-b935e3066b6f","instanceIdentifier":"1e2a02bb-0197-1000-f4bf-e40a8a61c438","name":"LogAttribute","comments":"","position":{"x":-1399.0879687422782,"y":21.36181878749926},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2025.5.22.22"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"d54b4887-fcde-3836-8de3-d615d19e365a","instanceIdentifier":"19082c26-0197-1000-ed15-b955ace53f41","name":"ConsumeKafka","comments":"","position":{"x":-1304.0,"y":-1080.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2025.5.22.22"},"properties":{"Topics":"trust","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":null,"Record Reader":null,"Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"f81e7a9b-eef5-30fd-b841-c7d15401a74d","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":null,"Group ID":"group-002","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"bb9ca8af-1faa-3757-87f2-2346db3f4e81","instanceIdentifier":"1924d7bc-0197-1000-ea3c-e14b5e89c9ab","name":"RouteOnContent","comments":"","position":{"x":-1296.0,"y":-600.0},"type":"org.apache.nifi.processors.standard.RouteOnContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2025.5.22.22"},"properties":{"Content Buffer Size":"1 MB","is_msg_0002":"\"msg_type\"\\s*:\\s*\"0002\"","is_msg_0001":"\"msg_type\"\\s*:\\s*\"0001\"","Match Requirement":"content must contain match","is_msg_0003":"\"msg_type\"\\s*:\\s*\"0003\"","Character Set":"UTF-8"},"propertyDescriptors":{"Content Buffer Size":{"name":"Content Buffer Size","displayName":"Content Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_msg_0002":{"name":"is_msg_0002","displayName":"is_msg_0002","identifiesControllerService":false,"sensitive":false,"dynamic":true},"is_msg_0001":{"name":"is_msg_0001","displayName":"is_msg_0001","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Match Requirement":{"name":"Match Requirement","displayName":"Match Requirement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"is_msg_0003":{"name":"is_msg_0003","displayName":"is_msg_0003","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"26f247ac-81c1-3cf9-8f63-34c7b1ac3bee","instanceIdentifier":"195b966e-0197-1000-e7ff-0d93dbac1d53","name":"","source":{"id":"bb9ca8af-1faa-3757-87f2-2346db3f4e81","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"RouteOnContent","comments":"","instanceIdentifier":"1924d7bc-0197-1000-ea3c-e14b5e89c9ab"},"destination":{"id":"d873a994-fcc8-3a01-b858-8bb30332e713","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"WRITE MOVEMENTS_RAW_001","comments":"","instanceIdentifier":"192c9d40-0197-1000-6607-15c760fa6f8f"},"labelIndex":0,"zIndex":2,"selectedRelationships":["is_msg_0001"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"050cc886-7c9a-3fc7-83d7-cf5b7a61495b","instanceIdentifier":"1915fb24-0197-1000-0de3-a11deab1bc73","name":"","source":{"id":"d54b4887-fcde-3836-8de3-d615d19e365a","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"ConsumeKafka","comments":"","instanceIdentifier":"19082c26-0197-1000-ed15-b955ace53f41"},"destination":{"id":"bb9ca8af-1faa-3757-87f2-2346db3f4e81","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"RouteOnContent","comments":"","instanceIdentifier":"1924d7bc-0197-1000-ea3c-e14b5e89c9ab"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"6cbf4cde-80d8-3832-b91e-60dc8c87a478","instanceIdentifier":"1964a9c0-0197-1000-a206-00cb3f50910b","name":"","source":{"id":"bb9ca8af-1faa-3757-87f2-2346db3f4e81","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"RouteOnContent","comments":"","instanceIdentifier":"1924d7bc-0197-1000-ea3c-e14b5e89c9ab"},"destination":{"id":"196441c9-0197-1000-fad7-bc931acd642b","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"WRITE MOVEMENTS_RAW_003","comments":"","instanceIdentifier":"f36c3aad-941f-364b-f1b6-cd58f2212bfe"},"labelIndex":0,"zIndex":4,"selectedRelationships":["is_msg_0003"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"660eba12-af5b-3d6f-947c-5277ba11fecb","instanceIdentifier":"19648800-0197-1000-35de-f308de9da85d","name":"","source":{"id":"bb9ca8af-1faa-3757-87f2-2346db3f4e81","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"RouteOnContent","comments":"","instanceIdentifier":"1924d7bc-0197-1000-ea3c-e14b5e89c9ab"},"destination":{"id":"1963e5cc-0197-1000-4564-4d9f5ac1df1c","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"WRITE MOVEMENTS_RAW_002","comments":"","instanceIdentifier":"7939b56b-3197-3179-ecdd-d3067d9681dd"},"labelIndex":0,"zIndex":3,"selectedRelationships":["is_msg_0002"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"e5793e25-6c13-3d7e-8f30-ded8452a137f","instanceIdentifier":"1e2a49d8-0197-1000-c92a-b9b69ba22746","name":"","source":{"id":"d873a994-fcc8-3a01-b858-8bb30332e713","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"WRITE MOVEMENTS_RAW_001","comments":"","instanceIdentifier":"192c9d40-0197-1000-6607-15c760fa6f8f"},"destination":{"id":"f53df7f0-9b09-3eee-9649-b935e3066b6f","type":"PROCESSOR","groupId":"34b4cacd-815f-366d-bc14-663fff0b1388","name":"LogAttribute","comments":"","instanceIdentifier":"1e2a02bb-0197-1000-f4bf-e40a8a61c438"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"f81e7a9b-eef5-30fd-b841-c7d15401a74d","instanceIdentifier":"19084ad6-0197-1000-4ce0-8dceb8ed3c68","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2025.5.22.22"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"kafka.ni6h.svc.spcs.internal:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2025.5.22.22"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"0e816b9e-49d7-3799-a854-befa05d2d018","instanceIdentifier":"194792e3-0197-1000-9fca-632ce09d51e5","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2025.5.22.22"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2025.5.23.14"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"},{"identifier":"8ca86f4b-cb83-3089-8ce2-22bdba9fb96d","instanceIdentifier":"1933c4e3-0197-1000-20fe-107f9abc1035","name":"StandardPrivateKeyService","comments":"","type":"org.apache.nifi.key.service.StandardPrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-key-service-nar","version":"2025.5.22.22"},"properties":{"key-file":"#{private_key}"},"propertyDescriptors":{"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-file":{"name":"key-file","displayName":"Key File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"key":{"name":"key","displayName":"Key","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.key.service.api.PrivateKeyService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2025.5.23.14"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"34b4cacd-815f-366d-bc14-663fff0b1388"}],"parameterContextName":"HOL","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"HOL":{"name":"HOL","parameters":[{"name":"private_key","description":"","sensitive":false,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}